#gameLog .error{
    -fx-text-fill: #F55D3E;
    -fx-font-weight: bold;
}


/* theme 1 */
#boardPane.theme1 {
    -fx-background-color: #363732;
}

.pawn {
    -fx-fill: -fx-base;
    -fx-stroke-width: 5px;
    -fx-stroke: derive(-fx-fill, -15%);
}

.theme1 .field {
    -fx-fill: -fx-base;
}

.theme1 .black.field {
    -fx-base: #363732;
}

.theme1 .white.field {
    -fx-base: #D4E4BC;
}

.theme1 .black.pawn {
    -fx-base: #F55D3E;
}

.theme1 .white.pawn {
    -fx-base: #76BED0;
}

/* theme 2 */
#boardPane.theme2 {
    -fx-background-color: #202030;
}

.theme2 .field {
    -fx-fill: -fx-base;
}

.theme2 .black.field {
    -fx-base: #202030;
}

.theme2 .white.field {
    -fx-base: #B0A990;
}

.theme2 .black.pawn {
    -fx-base: #99C24D;
}

.theme2 .white.pawn {
    -fx-base: #F18F01;
}

/* theme 3 */
#boardPane.theme3 {
    -fx-background-color: #1D1A05;
}

.theme3 .field {
    -fx-fill: -fx-base;
}

.theme3 .black.field {
    -fx-base: #1D1A05;
}

.theme3 .white.field {
    -fx-base: #FFFBBD;
}

.theme3 .black.pawn {
    -fx-base: #CA3C25;
}

.theme3 .white.pawn {
    -fx-base: #EECF6D;
}

#statusBar {
    -fx-background-color: #ddd;
}